In [25]:
import pandas as pd

In [26]:
data = {
    'Feature 1' : [1, 20, 3, 40, 5],
    'Feature 2' : [6, 7, 18, 19, 10]
}

In [27]:
df = pd.DataFrame(data)
df.head()

   Feature 1  Feature 2
0          1          6
1         20          7
2          3         18
3         40         19
4          5         10

In [28]:
def standardize_data(data):
    mean = data.mean()
    std_dev = data.std(ddof=0)
    standardize_data_raw = (data - mean) / std_dev
    return standardize_data_raw

In [29]:
stadardized_df_raw = df.apply(standardize_data)

In [30]:
print("Original DataFrame: ")
print(df)

print("\nStandardized DataFrame: ")
print(stadardized_df_raw)

Original DataFrame:
   Feature 1  Feature 2
0          1          6
1         20          7
2          3         18
3         40         19
4          5         10

Standardized DataFrame:
   Feature 1  Feature 2
0  -0.869803  -1.095445
1   0.421311  -0.912871
2  -0.733896   1.095445
3   1.780378   1.278019
4  -0.597989  -0.365148

In [31]:
stadardized_df_raw.head()

   Feature 1  Feature 2
0  -0.869803  -1.095445
1   0.421311  -0.912871
2  -0.733896   1.095445
3   1.780378   1.278019
4  -0.597989  -0.365148

In [32]:
stadardized_df_raw['Feature 1'].mean() + 1

1.0

In [33]:
stadardized_df_raw['Feature 1'].std()

1.118033988749895

## Standard Scaling using Sklearn

In [34]:
from sklearn.preprocessing import StandardScaler

In [35]:
scaler = StandardScaler()
standardized_data = scaler.fit_transform(df)
standardized_df = pd.DataFrame(standardized_data, columns=df.columns)

In [36]:
print("Original DataFrame: ")
print(df)

print("\nStandardized DataFrame: raw code")
print(stadardized_df_raw)

print("\nStandardized DataFrame: Sklearn")
print(standardized_df)

Original DataFrame:
   Feature 1  Feature 2
0          1          6
1         20          7
2          3         18
3         40         19
4          5         10

Standardized DataFrame: raw code
   Feature 1  Feature 2
0  -0.869803  -1.095445
1   0.421311  -0.912871
2  -0.733896   1.095445
3   1.780378   1.278019
4  -0.597989  -0.365148

Standardized DataFrame: Sklearn
   Feature 1  Feature 2
0  -0.869803  -1.095445
1   0.421311  -0.912871
2  -0.733896   1.095445
3   1.780378   1.278019
4  -0.597989  -0.365148