In [7]:
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [8]:
df = pd.read_csv("marital status.csv")

In [9]:
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     NaN
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [10]:
# check nullvalue
df.isnull().sum()

age       0
status    1
dtype: int64

In [11]:
# calculate median
handle_status = df['status'].median()

In [12]:
# fillup missing value
df.status = df.status.fillna(handle_status)
df

    age  status
0    21     0.0
1    33     1.0
2    24     0.0
3    28     1.0
4    17     0.0
5    33     1.0
6    23     0.0
7    30     0.0
8    29     1.0
9    22     0.0
10   26     1.0
11   20     0.0
12   22     0.0
13   24     0.0
14   34     1.0
15   29     1.0
16   16     0.0
17   18     0.0
18   26     1.0
19   25     1.0

In [13]:
# count unique values
df['status'].value_counts()

status
0.0    11
1.0     9
Name: count, dtype: int64

In [14]:
# seperate independent variables
x = df[['age']]
x

    age
0    21
1    33
2    24
3    28
4    17
5    33
6    23
7    30
8    29
9    22
10   26
11   20
12   22
13   24
14   34
15   29
16   16
17   18
18   26
19   25

In [15]:
# seperate dependent variable
y = df[['status']]
y

    status
0      0.0
1      1.0
2      0.0
3      1.0
4      0.0
5      1.0
6      0.0
7      0.0
8      1.0
9      0.0
10     1.0
11     0.0
12     0.0
13     0.0
14     1.0
15     1.0
16     0.0
17     0.0
18     1.0
19     1.0

In [16]:
from sklearn.model_selection import train_test_split

In [17]:
x_trian, x_test, y_train, y_test = train_test_split(x, y, test_size=0.30, random_state=42)

In [19]:
from sklearn.linear_model import LogisticRegression

In [20]:
lg = LogisticRegression()

In [21]:
lg.fit(x_trian, y_train)

c:\Users\SHAHRIAR\.pyenv\pyenv-win\versions\3.8.6\lib\site-packages\sklearn\utils\validation.py:1183: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression()

In [22]:
lg.predict(x_test)

array([0., 0., 1., 1., 1., 1.])

In [23]:
lg.score(x_test, y_test)

1.0

In [24]:
lg.predict_proba(x_test)

array([[0.90319466, 0.09680534],
       [0.97171768, 0.02828232],
       [0.2239123 , 0.7760877 ],
       [0.04828546, 0.95171454],
       [0.2239123 , 0.7760877 ],
       [0.04828546, 0.95171454]])